In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataframeApp').getOrCreate()

In [3]:
spark

In [18]:
##Reading dataset

df = spark.read.option('header', 'true').csv(r"C:\Users\opandey2\Desktop\test1.csv", inferSchema = True)

In [19]:
#Checking schema

df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [23]:
df1 = spark.read.csv(r"C:\Users\opandey2\Desktop\test1.csv", header = True, inferSchema = True)
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [24]:
df.columns

['Name', 'age', 'Experience']

In [25]:
df.head(2)

[Row(Name='Om', age=23, Experience=2), Row(Name='2dwaf', age=23, Experience=3)]

In [26]:
df.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|   Om| 23|         2|
|2dwaf| 23|         3|
|  asf| 32|         3|
+-----+---+----------+

In [29]:
#To pick a specific column

df.select('Name')

DataFrame[Name: string]

In [33]:
df.select('Name').show()

+-----+
| Name|
+-----+
|   Om|
|2dwaf|
|  asf|
+-----+

In [35]:
df.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|   Om|         2|
|2dwaf|         3|
|  asf|         3|
+-----+----------+

In [36]:
df['Name']

Column<'Name'>

In [38]:
##Checking datatype

df.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [40]:
df.describe().show()

+-------+-----+-----------------+------------------+
|summary| Name|              age|        Experience|
+-------+-----+-----------------+------------------+
|  count|    3|                3|                 3|
|   mean| null|             26.0|2.6666666666666665|
| stddev| null|5.196152422706632|0.5773502691896258|
|    min|2dwaf|               23|                 2|
|    max|  asf|               32|                 3|
+-------+-----+-----------------+------------------+

In [42]:
##adding columns in pydataframe

df.withColumn('Experience After 3 year',df['Experience']+3).show()

+-----+---+----------+-----------------------+
| Name|age|Experience|Experience After 3 year|
+-----+---+----------+-----------------------+
|   Om| 23|         2|                      5|
|2dwaf| 23|         3|                      6|
|  asf| 32|         3|                      6|
+-----+---+----------+-----------------------+

In [44]:
#Dropping the column

df.drop('Experience After 3 year').show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|   Om| 23|         2|
|2dwaf| 23|         3|
|  asf| 32|         3|
+-----+---+----------+

In [46]:
#Rename column:

df.withColumnRenamed('Experience','Exp').show()

+-----+---+---+
| Name|age|Exp|
+-----+---+---+
|   Om| 23|  2|
|2dwaf| 23|  3|
|  asf| 32|  3|
+-----+---+---+