In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('FilterApp').getOrCreate()

In [5]:
df_pyspark = spark.read.csv(r"C:\Users\opandey2\Desktop\test1.csv",header = True, inferSchema = True)
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|      Om| 23|         2| 43000|
|   2dwaf| 23|         3| 65888|
|     asf| 32|         3| 60000|
|sudhansu| 36|         7|300000|
|    herp| 27|      null| 53576|
|  sumyiy| 24|         3|170000|
|  zurmar| 31|         4|573547|
|   HIQWQ| 28|         7|465777|
+--------+---+----------+------+

#Filter Operations

In [8]:
##Salary of people less than 20k:

df_pyspark.filter('Salary<=50000').show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|  Om| 23|         2| 43000|
+----+---+----------+------+

In [11]:
df_pyspark.filter('Salary <=50000').select(['Name','age','experience']).show()

+----+---+----------+
|Name|age|experience|
+----+---+----------+
|  Om| 23|         2|
+----+---+----------+

In [12]:
df_pyspark.filter(df_pyspark['salary']<=50000).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|  Om| 23|         2| 43000|
+----+---+----------+------+

In [29]:
##Filter with AND & Condition:

df_pyspark.filter((df_pyspark['Salary']<=90000) & (df_pyspark['Salary']>=15000)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|   Om| 23|         2| 43000|
|2dwaf| 23|         3| 65888|
|  asf| 32|         3| 60000|
| herp| 27|      null| 53576|
+-----+---+----------+------+

In [27]:
##Filter with OR | condition:

df_pyspark.filter((df_pyspark['age']<=25) | (df_pyspark['Experience']>= 5)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|      Om| 23|         2| 43000|
|   2dwaf| 23|         3| 65888|
|sudhansu| 36|         7|300000|
|  sumyiy| 24|         3|170000|
|   HIQWQ| 28|         7|465777|
+--------+---+----------+------+

In [35]:
##Filtering with NOT ~ operatoins:

df_pyspark.filter(~(df_pyspark['Salary']<300000)).show() #Salary which is (NOT ~) Smaller than 3lac.

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|sudhansu| 36|         7|300000|
|  zurmar| 31|         4|573547|
|   HIQWQ| 28|         7|465777|
+--------+---+----------+------+