In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('GroupByApp').getOrCreate()

In [3]:
spark

In [5]:
df_pyspark = spark.read.csv(r"C:\Users\opandey2\Desktop\test2.csv", header=True, inferSchema = True).show()

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
| Krish|Data Science| 10000|
| Krish|         IOT|  5000|
|Mahesh|    Big Data|  4000|
| Krish|    Big Data|  4000|
|Mahesh|Data Science|  3000|
| Kumar|Data Science| 20000|
| Kumar|         IOT| 10000|
| Kumar|    Big Data|  5000|
| Sunny|Data Science| 10000|
| Sunny|    Big Data|  2000|
+------+------------+------+