In [4]:
from pyspark.sql import SparkSession

In [7]:
#Creating a spark session

spark = SparkSession.builder.getOrCreate()

In [14]:
df = spark.range(100).toDF('number')

In [19]:
div1 = df.where("number % 2=0")
div1.show()

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
|    10|
|    12|
|    14|
|    16|
|    18|
|    20|
|    22|
|    24|
|    26|
|    28|
|    30|
|    32|
|    34|
|    36|
|    38|
+------+
only showing top 20 rows